<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>Ni3aa3fK9MAz0Urmf2B4ZcBtZ</string>
	<key>consumer_secret</key>
	<string>DwPzlDvmBbTtW2DStYdJ7B4dbCs5dUYZEa7ttJUz9D8AHuVZc7</string>
</dict>
</plist>
